@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #262626;
  color: #262626;
  display: flex;
  justify-content: center;
}

main {
  padding: 50px 0;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

li {
  line-height: 1.75;
}

span {
  background-color: #262626;
  color: white;
  padding: 0 5px;
  border-radius: 5px;
}

img {
  width: 100%;
  border-radius: 10px;
}

strong {
  font-weight: 400;
  color: red;
}

/* 특정 section에만 적용되는 css */

/* #introduction 섹션 */
#introduction ul {
  margin-left: 30px;
}

#introduction #email {
  cursor: pointer;
}

#introduction .clipboard {
  width: 20px;
  border-radius: 0;
  position: relative;
  top: 3px;
}

/* #projects 섹션 */
#projects .project-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#projects .project-card {
  padding: 25px;
  /* max-width: 600px; */
  background-color: #262626;
  border-radius: 10px;
}

#projects figcaption {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#projects ul {
  margin-left: 22px;
}

#projects a {
  text-decoration: none;
}

#projects button {
  margin: 5px 5px 0 0;
  padding: 10px;
  background-color: white;
  color: #262626;
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

#projects button:hover {
  background-color: #262626;
  color: white;
}

/* #designs 섹션 */
#designs .design-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#designs img {
  border: 3px solid black;
  cursor: pointer;
}

@media (max-width: 700px) {
  section {
    padding: 25px;
  }
}
